@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.container-toolbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 24px;
}

.toggle li {
  list-style: none;
}

.hamburger {
  cursor: pointer;
  padding: 5px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #28352f;
}

.toolbar-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-top: 13px;
  color: #28352f;
  text-decoration: none;
}

.toggle {
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 8px;
  flex-direction: row;
  padding-top: 10px;
}

body {
  width: 375px !important;
  height: 6715px;
  text-align: center;
  justify-content: space-around;
  background-color: #e5e5e5;
}

.headline-name {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.headline-job {
  font-family: 'inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #36b37e;
  line-height: 52px;
  margin: 0;
  padding-top: 0;
}

.headline p {
  font-family: 'Inter', sans-serif;
  color: #172b4d;
  font-size: 20px;
  line-height: 28px;
  padding: 15px 24px 24px 24px;
  margin-bottom: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  background-image: url("./Images//mobile-bg.svg");
  background-repeat: no-repeat;
  width: 100%;
}

.socials {
  display: flex;
  width: 170.17px;
  height: 20px;
  padding-left: 115px;
  margin-top: 30px;
  justify-content: space-between;
}

.socials li {
  list-style: none;
}
