@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* .container-toolbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 24px;
}  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
}

.nav-left a {
  padding: 0;
}

.nav-menu {
  display: none;
}

form ul li {
  list-style: none;
  padding-bottom: 0;
  display: block;
}

.hamburger {
  cursor: pointer;
  padding: 8px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #28352f;
  border-radius: 24px;
}

.toolbar-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-top: 13px;
  color: #28352f;
  text-decoration: none;
}

.toggle {
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 8px;
  flex-direction: row;
  padding-top: 10px;
}

body {
  text-align: center;
  justify-content: space-around;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 500px;
}

.bg-image {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px 0 24px;
  gap: 58px;
  background-image: url("./images/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.headline-name {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  padding: 0;
  margin-bottom: 0;
}

.headline-job {
  font-family: 'inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #36b37e;
  line-height: 52px;
  margin: 0;
  padding: 0;
}

.headline-name-job .headline-p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
  padding: 0;
}

.headline-name-job h1 {
  padding: 0;
  margin: 0;
}

.socials {
  display: flex;
  align-self: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.headline-name-job {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px 0 24px;
  gap: 58px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 0 24px 24px 24px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-item:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-item:nth-of-type(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.grid-item:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.grid-item:nth-of-type(4) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.grid-item:nth-of-type(5) {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.grid-item:nth-of-type(6) {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.recents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
}

.socials li {
  list-style: none;
}

.btn-disabled {
  border: 0;
  background-color: #fff;
}

form button {
  padding: 12px;
  gap: 10px;
  width: 129px;
  height: 48px;
  background: #36b37e;
  border-radius: 4px;
  order: 3;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  border: none;
  margin: auto;
}

.works-inner button {
  border-radius: 4px;
  color: #fff;
  background-color: #36b37f;
  align-self: center;
  border-color: #36b37f;
  font-family: 'Inter', sans-serif;
  border: none;
  font-weight: 500;
  font-size: 17px;
  padding: 12px;
  margin-top: 17px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
}

.about-myself button {
  border-radius: 4px;
  color: #fff;
  background-color: #36b37f;
  align-self: center;
  border-color: #36b37f;
  font-family: 'Inter', sans-serif;
  border: none;
  font-weight: 500;
  font-size: 17px;
  padding: 12px;
}

.about-me button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  justify-content: center;
  border-color: #36b37f;
}

form button:hover {
  background-color: #36b37f;
  box-shadow: 1px 2px #36b37f;
}

form button:enabled {
  background-color: #36b37f;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
  position: relative;
}

.aboutme-desk {
  display: none;
}

.aboutme-desk-bottom {
  display: none;
}

.about-myself p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #42526e;
  margin-bottom: 30px;
  margin-top: 10px;
}

.about-myself h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-self: center;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0;
}

.flex-container p {
  font-family: 'Inter', sans-serif;
  color: #3a4a42;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  padding-top: 0;
  border-radius: 8px;
}

.works-inner button:active {
  background-color: #008552;
}

.about-myself button:hover {
  background-color: #36b37f;
  box-shadow: 1px 2px #d0d9d4;
}

.about-me h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-me p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
}

.about-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  gap: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-inner button:hover {
  background-color: #36b37f;
  box-shadow: 1px 2px #d0d9d4;
}

.about-myself button:active {
  background-color: #008552;
}

.head-recent {
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  margin-top: 22px;
  margin-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.recent-bar {
  display: block;
  width: 48px;
  height: 4px;
  margin: 5px auto;
  background-color: #36b37e;
  border-radius: 24px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  height: 474px;
  margin-bottom: 15px;
  border: 1px solid #d0d9d4;
}

.works-image {
  height: 252px;
  background-color: #ebf0ee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
}

.about-myself a {
  border-radius: 4px;
  color: #fff;
  background-color: #36b37f;
  align-self: center;
  border-color: #36b37f;
  font-family: 'Inter', sans-serif;
  border: none;
  font-weight: 500;
  font-size: 17px;
  padding: 12px;
  text-decoration: none;
}

.footer p a {
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 32px;
  line-height: 132%;
  vertical-align: top;
  color: #42526e;
  text-decoration: none;
}

.section-bg01 {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.section-bg02 {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

form ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 auto;
}

.works-inner ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-inner li {
  list-style: none;
  background-color: #ebf0ee;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: #3a4a42;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}

.works-inner {
  padding: 16px 16px 16px;
  gap: 16px;
  align-items: center;
}

.works-section {
  margin-top: 80px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.label h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-img img {
  left: 98.43%;
  right: -97.72%;
  top: 0.29%;
  bottom: 0.21%;
}

.about-catalog {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.about-catalog .languages {
  border-radius: 50%;
  background-color: #fff;
  padding: 18px;
  margin: 0;
}

.about-catalog .languages img {
  width: 100%;
  height: 100%;
}

.about-catalog .lang-stack {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.about-catalog .lang-stack p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.footer-socials li {
  list-style: none;
  padding: 0 10px;
}

.lang-stack ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.about-catalog .lang-stack ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px 46px 24px;
  gap: 58px;
}

.footer-socials li a {
  text-decoration: none;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form input {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 327px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 15px 16px 16px 15px;
}

form textarea {
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 12px 12px 12px;
}

.footer-img {
  height: 131.70988202068884px;
  width: 84.141111px;
  left: 311px;
  top: 6517.380859px;
  border-radius: 0;
  position: absolute;
}

.footer-socials {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

footer {
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-img-left {
  display: none;
}

.frame-left {
  display: none;
}

.frame-middle {
  display: none;
}

.frame-right {
  display: none;
}

@media (width > 768px) {
  body {
    margin-bottom: 24px;
  }

  .bg-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  .nav-left {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    list-style: none;
    display: flex;
    justify-content: center; /* center items horizontally */
    margin: 0 auto;
    padding: 0;
  }

  .nav-menu li a {
    text-decoration: none;
    padding: 0 10px;
    color: #172b4d;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    font-style: normal;
  }

  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;
    background-image: none;
    padding-top: 0;
  }

  .headline-name-job {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 190px 0 190px;
    gap: 24px;
  }

  .headline-name-job .headline-name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .headline-name-job .headline-job {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #36b37e;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .headline-name-job .headline-p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
    flex: none;
    order: 1;
    flex-grow: 0;
    justify-content: center;
  }

  .recent-bar {
    display: none;
  }

  .recents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;
    margin-top: 400px;
  }

  .works-inner {
    align-items: stretch;
    gap: 24px;
    padding: 16px 16px 16px;
  }

  .works-inner ul {
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .grid-item:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .grid-item:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .grid-item:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .grid-item:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .grid-item:nth-of-type(5) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .grid-item:nth-of-type(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    gap: 48px;
  }

  .about-me-card .about-me p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .about-me-card {
    display: flex;
    gap: 2px;
    align-items: center;
    background-image: url("./images/illustration-aboutme-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    padding-right: 259.5px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    width: 70%;
  }

  .section-bg01 {
    display: none;
  }

  .section-bg02 {
    display: none;
  }

  .about-img-left {
    display: block;
    width: 288.04px;
    height: 129.24px;
    margin: 0;
    order: -1;
  }

  .about-me h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
  }

  .aboutme-desk {
    display: block;
    position: absolute;
    right: 0;
  }

  .aboutme-desk-bottom {
    display: block;
    position: absolute;
    left: 0;
    padding-top: 80px;
  }

  .aboutme-para {
    padding-left: 55px;
    padding-right: 30px;
  }

  .about-catalog {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    flex: 1;
    box-sizing: border-box;
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .lang-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
  }

  .lang-stack ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-resume {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #36b37f;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .about-rows {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 24px;
  }

  .rows {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 80px 0;
    gap: 10px;
    margin-left: 135px;
    margin-right: 134px;
    margin-bottom: 250px;
  }

  .form {
    width: 60%;
  }

  .form-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px 200px 24px;
    gap: 10px;
    justify-content: center;
    position: relative;
  }

  .form-section .label {
    width: 40%;
  }

  .form-section form {
    width: 50%;
    justify-content: left;
  }

  .form-section form ul {
    width: 100%;
  }

  .form-section form li {
    /* align-items: left;
    text-align: left; */
    margin-right: 10px;
  }

  .form form li input {
    width: 100%;
  }

  .form li textarea {
    width: 100%;
  }

  .form-section form ul li input {
    width: 100%;
  }

  .form-section form ul li textarea {
    width: 100%;
    justify-content: left;
  }

  .rows .label {
    padding: 0;
    gap: 24px;
    width: 45%;
    height: 256px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .label h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .rows .label h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
  }

  .form form button {
    margin: 0;
  }

  .form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 100%;
    height: 330px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #000;
    background-color: #dfe1e6;
  }

  /* .footer-socials {
    margin-top: 15px;
  } */

  .footer-mail {
    display: none;
  }

  footer {
    margin-top: 20px;
  }

  .frame-left {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .frame-middle {
    display: block;
    position: absolute;
    left: 250px;
    bottom: 0;
  }

  .frame-right {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
